---
title: Digital Compilance
---
extends shared/_layout
block content
  
  // HERO
  .hero.hero--no-bg
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title Digital Brand <br/>Compliance
          p.t-p1 Preserve a imagem da sua marca na web. Nós escaneamos a rede atrás de <strong>aplicativos falsos, perfis que se passam pela sua empresa</strong> e outros casos de <strong>apropriação de identidade.</strong>
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              

      .hero__image.hero__image--for3.wow(data-animation-class="wowFadeRight")
        #include-anim-3
      .hero__actionable(data-teleport-target="hero-actionable")
      
        
  include components/_service-functions-list

  include components/_service-numbers
  
  // Featured product      
  .f-product.f-product--more-pad
    .container.container--narrow
      .f-product-box
        .f-product-box__wrapper
          .f-product-box__left.wow
            h2.c-orange OneShot Takedown
            p.t-p1 Enviamos notificações automatizadas aos servidores que hospedam ofertas não autorizadas.
            .f-product-box__pixel-img.wow
              +img('onePixel')
              
          .f-product-box__right.wow
            p.t-p2 Com atuação em larga escala, você tem a melhor relação custo-benefício entre a retirada de conteúdo não autorizado e o tempo da sua equipe. Conte com o OneShot Takedown para:
            ul.list-mark
              li Remoção de ofertas irregulares em marketplaces.
              li Correção de informações de produtos vendidos em outros sites.

            p.t-p1 <span class="c-green">88%</span> dos casos resolvidos em até 2 notificações.
            p.t-p3 O OneShot Takedown possui eficiência máxima em plataformas que tratam incidentes de apropriação de identidade em lotes.
          .f-product-box__pixel-img.f-product-box__pixel-img--mobile.wow
            +img('onePixel')
            
    // featured product benefits
    .f-products-benefits
      .f-products-benefits__bg
        img(src='img/svg/featureProductBg-triangle.svg')
      .container
        .f-products-benefits__wrapper
          .f-products-benefits__left.f-products-benefits__left--wider.wow
            h2 Cuidar da imagem da sua marca é proteger seu maior ativo
          .f-products-benefits__right
            .f-products-benefits__list
              .f-products-benefits__col.wow
                h4 
                  span Comunicação sem ruídos
                p.t-p2 Cuide para que seus clientes encontrem exatamente o que procuram sobre a sua marca. Controlando seu conteúdo, você garante uma experiência positiva.
                
              .f-products-benefits__col.wow
                h4 
                  span Assuma o controle da conversa
                p.t-p2 Tirando do ar as páginas que se fazem passar por canais oficiais da sua marca, você se torna o protagonista das conversas com seus clientes.
                

  // USE CASES
  .use-cases
    .use-cases__img.use-cases__img--mobile.wow(data-teleport-target="use-cases-img")
    .container.container--narrow
      h2.wow O Digital Brand Compliance protege sua marca contra:
      .use-cases__slider(js-usecases-slider)
        .use-cases__wrapper
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Abuso de marca
              p.t-p2 Pessoas não autorizadas usando sua marca para se aproveitar da credibilidade que que ela tem com o público. Incidentes como esse afetam a imagem e a reputação da sua marca, afastando clientes e gerando prejuízos para seu negócio.
              .label.label--blue saiba mais
              a(href="#").link-p2 Perfis falsos no Instagram? Evite páginas fake
              
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".2s")
              h3 Domínios similares 
              p.t-p2 Criminosos podem registrar domínios parecidos com sua marca (por exemplo, com erros de digitação ou letras em posições trocadas) com dois objetivos: vendê-los a você ou usá-los em ações para enganar e roubar dados dos seus clientes.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Aplicativos fraudulentos
              p.t-p2 Um aplicativo não oficial usa sua marca para atrair seus clientes e roubar dados, divulgar informações enganosas ou vender produtos falsos. Independentemente do objetivo, esse tipo de ação compromete a confiança do usuário nos seus aplicativos oficiais.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Perfis falsos em redes sociais
              p.t-p2 Com poucos recursos (a logo e o nome da sua empresa), qualquer pessoa pode criar um perfil falso em uma rede social e se fazer passar pela sua marca. Esse tipo de apropriação de identidade faz com que você perca o controle sobre as infomações divulgadas e as interações com seus clientes.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".2s")
              h3 Abuso de marca em e-mails
              p.t-p2 Assim como nas redes sociais, assumir a identidade da sua marca na hora de enviar e-mails é bastante simples. Muito usada por spammers, essa prática afeta a confiança dos usuários nos e-mails que você envia, prejudicando sua relação com clientes.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Indicação falsa no Google Maps
              p.t-p2 Endereços falsos associados à sua marca atraem pessoas para os locais errados no mundo físico. Isso pode gerar, no mínimo, uma frustação do cliente em potencial, prejudicando sua reputação e seu faturamento.
              
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Uso indevido em busca paga
              p.t-p2 Sua marca pode ser usada em anúncios falsos que aparecem em sites de busca. Ao pesquisar por termos relacionados à sua empresa, seu cliente será exposto a esse conteúdo já na primeira página do buscador, podendo ser enganado e afastado da jornada de compra.
          
          // image
          .use-cases__img.wow(data-animation-class="wowFadeRight" js-teleport data-teleport-condition="<992" data-teleport-to="use-cases-img")
            img(src='img/svg/useCases-img.svg')
    
        .swiper-nav.swiper-nav--orange
          // handled by swiper API
          .swiper-nav__fraction
          // custom swiper API
          .swiper-nav__progress
            .swiper-nav__progress-fill(js-set-usecases-progress)
                    
      
  // PLANS
  .plans(js-plans-container)
    .container
      .plans__head.wow
        .t-label.c-orange digital brand compliance
        h2 Estimate your cost
        // is-active is for the label state
        .plans__switch
          .plans__switch-select(js-select-plan data-allowed="monthly;yearly")
            input(type="hidden" name="selected-plan" value="yearly")
            label Cobrança mensal
            .plans__switch-toggle.move-right
            label.is-active Cobrança anual
              .label.label--green 15% de desconto
          
    // slider
    .plans__slider
      .plans__slider-bg
        +img('plansBg')
      .plans__slider-container.container(js-plans-slider)
        .swiper-wrapper
          // col
          .plans__col.wow
            .plan-card
              h3 Startup
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$1.149"
                    data-per-year="R$999"
                  ) R$999
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow
            .plan-card.plan-card--popular
              h3 Professional
              .t-label.c-orange most popular
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
                li Aplicativos fraudulentos
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.299"
                    data-per-year="R$1.999"
                  ) R$1.999
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow 
            .plan-card
              h3 Corporate
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
                li Aplicativos fraudulentos
                li Uso abusivo de marca
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$3.449"
                    data-per-year="R$2.999"
                  ) R$2.999
                  span /mês
                span usuários ilimitados
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação

      
      .plans__slider-info.wow
        a(href="#").link-p2 Fale com um de nossos consultores    
                          
                        
  include components/_cta-product
  
  include components/_service-faq
