---
title: Partner compilance
---
extends shared/_layout
block content
  
  // HERO
  .hero.hero--no-bg
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title Partner <br>Compliance
          p.t-p1 Garanta que parceiros, revendedores e associados cumpram com as <strong>regras de uso da sua marca</strong>. Além, é claro, de ficar atento a quem diz ter ligação com sua empresa, mas não tem autorização para isso.
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              

      .hero__image.hero__image--for5.wow(data-animation-class="wowFadeRight")
        #include-anim-5
      .hero__actionable(data-teleport-target="hero-actionable")
        
        
  include components/_service-functions-list
  
  include components/_service-numbers
  
  // Featured product      
  .f-product.f-product--more-pad

    // featured product benefits
    .f-products-benefits
      .f-products-benefits__bg
        img(src='img/svg/featureProductBg-triangle.svg')
      .container
        .f-products-benefits__wrapper
          .f-products-benefits__left.f-products-benefits__left--centered.wow
            h2 Sua parceria, suas regras
          .f-products-benefits__right
            .f-products-benefits__list
              .f-products-benefits__col.wow
                h4 
                  span Garanta a qualidade das relações
                p.t-p2 Mantenha toda sua rede de parceiros atuando sob as mesmas regras. Isso ajuda a criar um padrão de atendimento que deixa seus clientes mais satisfeitos.
                
              .f-products-benefits__col.wow
                h4 
                  span Valorize quem está com você
                p.t-p2 Não permitir o uso indevido da sua marca também é uma forma de mostrar o quanto seus parceiros são importantes para seu negócio.

  // USE CASES
  .use-cases
    .use-cases__img.use-cases__img--mobile.wow(data-teleport-target="use-cases-img")
    .container.container--narrow
      h2.wow O Partner Compliance protege sua marca contra:
      .use-cases__slider(js-usecases-slider)
        .use-cases__wrapper
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 Infração de compliance
              p.t-p2 Regras de compliance existem para que todos que falam em nome da sua marca o façam da mesma forma. Isso passa para o usuário a segurança de que se trata de uma parceria oficial. O descumprimento dessas regras coloca em risco a relação com seus clientes.
              .label.label--blue saiba mais
              a(href="#").link-p2 Perfis falsos no Instagram? Evite páginas fake
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".2s")
              h3 Parceiros não autorizados
              p.t-p2 Quando uma empresa diz ter uma parceria ou outro tipo de relação com sua marca, mas na verdade não tem. Essa prática retira os usuários do fluxo de compra correto, afetando suas taxas de conversão.
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".3s")
              h3 Apropriação de identidade
              p.t-p2 Parceiros (autorizados ou não) que assumem sua identidade e se fazem passar pela sua marca confundem o usuário. Nesses casos, seus clientes não conseguem diferenciar o site de um parceiro do site oficial, gerando mal-entendidos.
    
          // col
          .use-cases__col
            .use-case.wow(data-animation-delay=".1s")
              h3 E-mails de parceiros não autorizados
              p.t-p2 É muito fácil para parceiros não autorizados assumirem a identidade da sua marca na hora de enviar e-mails. Essa prática afeta a confiança dos usuários nos e-mails que você envia, prejudicando sua relação com clientes.
              
          // image
          .use-cases__img.wow(data-animation-class="wowFadeRight" js-teleport data-teleport-condition="<992" data-teleport-to="use-cases-img")
            img(src='img/svg/useCases-img.svg')
    
        .swiper-nav.swiper-nav--orange
          // handled by swiper API
          .swiper-nav__fraction
          // custom swiper API
          .swiper-nav__progress
            .swiper-nav__progress-fill(js-set-usecases-progress)
                
                    
  // PLANS
  .plans(js-plans-container)
    .container
      .plans__head.wow
        .t-label.c-orange partner compliance
        h2 Estimate your cost
        // is-active is for the label state
        .plans__switch
          .plans__switch-select(js-select-plan data-allowed="monthly;yearly")
            input(type="hidden" name="selected-plan" value="yearly")
            label Cobrança mensal
            .plans__switch-toggle.move-right
            label.is-active Cobrança anual
              .label.label--green 15% de desconto
          
    // slider
    .plans__slider
      .plans__slider-bg
        +img('plansBg')
      .plans__slider-container.container(js-plans-slider)
        .swiper-wrapper
          // col
          .plans__col.wow
            .plan-card
              h3 Startup
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$1.149"
                    data-per-year="R$999"
                  ) R$999
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow
            .plan-card.plan-card--popular
              h3 Professional
              .t-label.c-orange most popular
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
                li Aplicativos fraudulentos
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.299"
                    data-per-year="R$1.999"
                  ) R$1.999
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow 
            .plan-card
              h3 Corporate
              ul.list-mark
                li Domínios Similares
                li Perfis falsos em redes sociais
                li Aplicativos fraudulentos
                li Uso abusivo de marca
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$3.449"
                    data-per-year="R$2.999"
                  ) R$2.999
                  span /mês
                span usuários ilimitados
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação

      
      .plans__slider-info.wow
        a(href="#").link-p2 Fale com um de nossos consultores    
                          
                                                                
                
  include components/_cta-product
  
  include components/_service-faq
