---
title: Sales abuse
---
extends shared/_layout
block content
  
  // HERO
  .hero.hero--no-bg
    .hero__wrapper
      .hero__content(js-layout-padding data-type="container-left" data-stop="<992")
        .hero__content-wrapper.wow
          h1.hero__title Sales Abuse <br/>Discovery
          p.t-p1 Proteja sua reputação, seus clientes e seu faturamento contra <strong>vendas não autorizadas e produtos piratas</strong>. Não deixe que sua marca seja usada indevidamente em ofertas na internet. 
          div(js-teleport data-teleport-to="hero-actionable" data-teleport-condition="<992")
            // signup form
            form(action="#" js-validate-signup).signup-form.hero__form
              .ui-input.ui-input--iconed
                input(type="text" name="email" placeholder="Seu e-mail corporativo…")
                +icon('ico-mail')
              button(type="submit").btn.btn-primary 
                span conheça a plataforma
              
      .hero__image.hero__image--for4.wow(data-animation-class="wowFadeRight")
        #include-anim-4
      .hero__actionable(data-teleport-target="hero-actionable")
      

  include components/_service-functions-list
  
  include components/_service-numbers
  
  // Featured product      
  .f-product.f-product--more-pad
    .container.container--narrow
      .f-product-box
        .f-product-box__wrapper
          .f-product-box__left.wow
            h2.c-orange OneShot Takedown
            p.t-p1 Enviamos notificações automatizadas aos servidores que hospedam ofertas não autorizadas.
            .f-product-box__pixel-img.wow
              +img('onePixel')
              
          .f-product-box__right.wow
            p.t-p2 Com atuação em larga escala, você tem a melhor relação custo-benefício entre a retirada de conteúdo não autorizado e o tempo da sua equipe. Conte com o OneShot Takedown para:
            ul.list-mark
              li Remoção de ofertas irregulares em marketplaces.
              li Correção de informações de produtos vendidos em outros sites.

            p.t-p1 <span class="c-green">88%</span> dos casos resolvidos em até 2 notificações.
            p.t-p3 O OneShot Takedown possui eficiência máxima em plataformas que tratam incidentes de apropriação de identidade em lotes.
            
    // featured product benefits
    .f-products-benefits
      .f-products-benefits__bg
        img(src='img/svg/featureProductBg-triangle.svg')
      .container
        .f-products-benefits__wrapper
          .f-products-benefits__left.f-products-benefits__left--wider.wow
            h2 Cuide das suas vendas e fortaleça sua imagem e seu faturamento
          .f-products-benefits__right
            .f-products-benefits__list
              .f-products-benefits__col.wow
                h4 
                  span Aumente sua conversão
                p.t-p2 Garantindo que seus canais oficiais são os únicos a vender seu produtos, você tem controle total sobre a jornada de compra dos seus clientes.
              
              .f-products-benefits__col.wow
                h4 
                  span Mantenha sua credibilidade
                p.t-p2 Controlando as vendas não autorizadas, você evita que seus clientes tenham experiências ruins, seja no processo de compra ou no uso do produto.
    
  // USE CASES
  .use-cases
    .container.container--narrow
      h2.wow Sales Abuse Discovery protege sua marca contra:
      .use-cases__wrapper
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".1s")
            h3 Falsificações
            p.t-p2 O comércio de produtos falsificados está entre as maiores causas de prejuízo para as empresas de varejo, tanto em faturamento quanto em imagem. Produtos piratas usam sua marca para oferecer aos seus consumidores mercadorias de baixa qualidade e, em muitos casos, perigosas.
            .label.label--blue saiba mais
            a(href="#").link-p2 Perfis falsos no Instagram? Evite páginas fake
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".2s")
            h3 Venda não autorizada 
            p.t-p2 Esta prática envolve produtos verdadeiros sendo comercilizados em canais não oficiais, como nas redes sociais, por exemplo. O problema aqui é que a procedência não é garantida, podendo ser fruto roubo de carga ou contrabando.
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".3s")
            h3 Mercado paralelo
            p.t-p2 A venda de produtos por canais ou pessoas não autorizados alimenta o mercado paralelo. Isso gera toda uma rede de comércio informal, que não paga  imposto, não dá garantias ao consumidor e muitas vezes ajuda a financiar outros tipos de crime.
  
        // col
        .use-cases__col
          .use-case.wow(data-animation-delay=".1s")
            h3 Pirataria digital
            p.t-p2 É a distribuição ilegal de conteúdo protegido por direitos autorais, como livros, filmes, músicas e obras de arte em geral. Esse conteúdo normalmente é disponibilizado em sites de compartilhamento de arquivos sem a autorização da marca, gerando perdas de faturamento.
            
        // image
        .use-cases__img.wow(data-animation-class="wowFadeRight")
          img(src='img/svg/useCases-img.svg')
              
              
  // PLANS
  .plans(js-plans-container)
    .container
      .plans__head.wow
        .t-label.c-orange sales abuse discovery
        h2 Estimate your cost
        // is-active is for the label state
        .plans__switch
          .plans__switch-select(js-select-plan data-allowed="monthly;yearly")
            input(type="hidden" name="selected-plan" value="monthly")
            label.is-active Cobrança mensal
            .plans__switch-toggle.move-left
            label Cobrança anual
              .label.label--green 15% de desconto
          
    // slider
    .plans__slider
      .plans__slider-bg
        +img('plansBg')
      .plans__slider-container.container(js-plans-slider)
        .swiper-wrapper
          // col
          .plans__col.wow
            .plan-card
              h3 Startup
              p.t-p2 
                strong Vendas abusivas em
              ul.list-mark
                li Canais de venda
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$1.149"
                    data-per-year="R$999"
                  ) R$1.149
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow
            .plan-card.plan-card--popular
              h3 Professional
              .t-label.c-orange most popular
              p.t-p2 
                strong Vendas abusivas em
              ul.list-mark
                li Canais de venda
                li Webshops
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.299"
                    data-per-year="R$1.999"
                  ) R$2.299
                  span /mês
                span ATÉ 5 USUÁRIOS
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação
          // col
          .plans__col.wow 
            .plan-card
              h3 Corporate
              p.t-p2 
                strong Vendas abusivas em
              ul.list-mark
                li Canais de venda
                li Webshops
                li Redes sociais
              .plan-card__price
                .plan-card__price-num
                  span(
                    data-per-month="R$2.875"
                    data-per-year="R$2.499"
                  ) R$2.875
                  span /mês
                span usuários ilimitados
              .plan-card__cta
                a(href="#").btn.btn-primary.btn--block
                  span veja em ação

      
      .plans__slider-info.wow
        a(href="#").link-p2 Fale com um de nossos consultores    
                
                            
  include components/_cta-product
  
  include components/_service-faq
